!!!
%html{:lang => "en", class: "container"}
  %head
    %title Sell a game - VGDatabase
  %body.visible
    %aside.sidebar.normal
      %a.sidebarOverlay
      %nav
        %ul.sidebar__nav
          %li
            %a.sidebar__nav__link_plain_img
              =image_tag ('logo-normal.png')
          %li
            %a.sidebar__nav__link{:href => homepage_path, "data-method" => "get"}
              %i.mdi.mdi-home
              %span.sidebar__nav__text Homepage
          %li
            %a.sidebar__nav__link{:href => collection_path, "data-method" => "get"}
              %i.mdi.mdi-library-movie
              %span.sidebar__nav__text Collection
          %li
            %a.sidebar__nav__link{:href => selling_path, "data-method" => "get"}
              %i.mdi.mdi-shopping
              %span.sidebar__nav__text  Selling
          %li
            %a.sidebar__nav__link{:href => searchGame_path, "data-method" => "get"}
              %i.mdi.mdi-database-search
              %span.sidebar__nav__text Search
          %li
            %a.sidebar__nav__link{:href => friends_path, "data-method" => "get"}
              %i.mdi.mdi-account-multiple
              %span.sidebar__nav__text Friends
          %li
            %a.sidebar__nav__link{:href => myProfile_path, "data-method" => "get"}
              =image_tag (@user.avatar), class: "img3"
              %span.sidebar__nav__text My account
          %li
            %a.sidebar__nav__link{:href => login_path, "data-method" => "delete"}
              %i.mdi.mdi-logout-variant
              %span.sidebar__nav__text Log out 
          %li
            %a.sidebar__nav__link{:href => contactUs_path, "data-method" => "get"}
              %i.mdi.mdi-information
              %span.sidebar__nav__text Contact us
    %br/
    %h1 Selling a game
    .form
      .tab-content
        = form_tag game_store_path(@game,@library), :method => :put do
          .field-wrapAlt
            %input{:name => 'price', :placeholder => "Price", :autocomplete => "off", :type => "text", :min => '0', :max => '999', :required => ''}/
            %br/
            = select :store, :condition, ['New','Used']
          %br/
          %button.button{:type => "submit"} Save changes
          %br/
    .backgroundImg2
      - background = "backgroundSimple.png"
      =image_tag (background), class: "background2"
      .overlay
